@import "cssReset.css";

:root {
    --black: #000000;
    --white: #ffffff;
    --slate-gray: #898989;
    --light-slate-gray: #9F9F9F;
    --light-gray: #D9D9D9;
    --soft-light-gray: #F4F5F7;
    --light-beige: #F9F1E7;
    --gold: #B88E2F;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
}

.container {
    margin: 0 auto;
}

.header {
    background-color: var(--white);
    padding: 30px 50px;
    border-bottom: 1px solid var(--light-beige);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
}

.header__nav {
    display: flex;
    gap: 80px;
}

.header__link {
    text-decoration: none;
    color: var(--black);
}

.header__icons {
    display: flex;
    gap: 40px;
}

.header__icon {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.product__breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 100px;
    margin-bottom: 50px;
    background-color: var(--light-beige);
    border-bottom: 1px solid var(--light-beige);
    gap: 20px;
}

.product__breadcrumb {
    text-decoration: none;
    color: var(--light-slate-gray);
}

.product__breadcrumb-divider {
    margin: 0 10px;
}

.product__breadcrumb_current {
    display: block;
    padding: 8px 30px;
    color: var(--black);
    border-left: 2px solid var(--light-slate-gray);
}

.product__content {
    display: flex;
    justify-content: center;
    gap: 80px;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 50px;
}

.product__gallery {
    display: flex;
}

.product__thumbnails {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product__thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.product__title {
    font-size: 42px;
    margin-bottom: 15px;
}

.product__price {
    font-size: 24px;
    color: var(--light-slate-gray);
    margin-bottom: 15px;
}

.product__rating {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.product__reviews {
    font-size: 13px;
    color: var(--light-slate-gray);
    border-left: 2px solid var(--light-slate-gray);
    padding: 10px 20px;
}

.product__description {
    font-size: 14px;
    margin-bottom: 20px;
    white-space: pre-line;
    line-height: 1.5;
}

.product__option-label {
    font-size: 13px;
    color: var(--light-slate-gray);
}

.product__size-options, .product__color-options {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}

.product__size, .product__color {
    margin-right: 15px;
}

.product__quantity-btn, .product__cart-btn, .product__compare-btn {
    all: unset;
    margin-right: 10px;
    margin-bottom: 60px;
    margin-top: 20px;
    cursor: pointer;
}

.product__info-share-items {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 55px;
}

.product__info-share-items-labels, .product__info-share-items-values {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--light-slate-gray);
}

.product__info-share-value_inline {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 65px;
}

.product-details__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.product-details__tab {
    margin-right: 50px;
    font-size: 24px;
    text-decoration: none;
    color: var(--light-slate-gray);
}

.product-details__tab--active {
    font-weight: 500;
    color: var(--black);
}

.product-details__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details__description {
    font-size: 16px;
    white-space: pre-line;
    color: var(--light-slate-gray);
    line-height: 1.5;
    margin-bottom: 20px;
}

.product-details__images {
    display: flex;
    gap: 30px;
}

.related-products {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 90px;
    border-bottom: 1px solid var(--light-gray);
}

.related-products__title {
    font-size: 36px;
    font-weight: 500;
}

.related-products__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product-card {
    position: relative;
    background-color: var(--soft-light-gray);
}

.product-card__link {
    all: unset;
    cursor: pointer;
}

.product-card-discount-30::before,
.product-card-discount-50::before,
.product-card-new::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.product-card-discount-30::before {
    background-image: url('images/discount-30-icon.svg');
}

.product-card-discount-50::before {
    background-image: url('images/discount-50-icon.svg');
}

.product-card-new::before {
    background-image: url('images/new-icon.svg');
}

.product-card__content {
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product-card__name {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}

.product-card__description {
    font-size: 16px;
    color: var(--slate-gray);
    margin-bottom: 10px;
}

.product-card__price {
    font-size: 20px;
    font-weight: 500;
}

.product-card__old-price {
    font-size: 15px;
    text-decoration: line-through;
    color: var(--light-slate-gray);
    margin-left: 15px;
}

.related-products__button {
    all: unset;
    width: 245px;
    height: 48px;
    text-align: center;
    color: var(--gold);
    font-weight: 500;
    border: 1px solid var(--gold);
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin: 0 170px;
}

.footer__container {
    display: flex;
    gap: 100px;
    border-bottom: 1px solid var(--light-gray);
}

.footer__brand {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__logo {
    font-size: 24px;
    font-weight: bold;
}

.footer__address {
    line-height: 1.5;
    color: var(--light-slate-gray);
    white-space: pre-line;
}

.footer__links {
    display: flex;
    gap: 100px;
}

.footer__title {
    color: var(--light-slate-gray);
    font-weight: 500;
    margin-bottom: 60px;
}

.footer__item {
    margin-bottom: 60px;
}

.footer__link {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.footer__link-email {
    color: var(--light-slate-gray);
    margin-right: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--black);
}

.footer__link-subscribe {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--black);
}

.footer__bottom {
    margin-top: 35px;
}