@import "css-reset.css";

:root {
    --black: #000000;
    --white: #ffffff;
    --slate-gray: #898989;
    --light-slate-gray: #9F9F9F;
    --light-gray: #D9D9D9;
    --soft-light-gray: #F4F5F7;
    --light-beige: #F9F1E7;
    --gold: #B88E2F;
    --purple: #816DFA;
    --coral-red: #E97171;
    --blue-green: #2EC1AC;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
}

.header {
    background-color: var(--white);
    padding: 30px 50px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 185px;
    height: 41px;
}

.header__logo-image, .header__icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__icon-wrapper {
    width: 25px;
    height: 25px;
}

.header__nav-list {
    display: flex;
    gap: 80px;
}

.header__link {
    text-decoration: none;
    color: var(--black);
}

.header__icons-list {
    display: flex;
    gap: 40px;
}

.header__icon {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.product__breadcrumbs {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    background-color: var(--light-beige);
    gap: 20px;
}

.product__breadcrumb {
    text-decoration: none;
    color: var(--light-slate-gray);
}

.product__breadcrumb_current {
    display: block;
    padding: 8px 30px;
    color: var(--black);
    border-left: 2px solid var(--light-slate-gray);
}

.product__content {
    display: flex;
    justify-content: center;
    gap: 80px;
    border-bottom: 1px solid var(--light-gray);
    padding-top: 50px;
}

.product__gallery {
    display: flex;
}

.product__thumbnails {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product__thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.product__main-image-wrapper {
    width: 423px;
    height: 500px;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product__title {
    font-size: 42px;
}

.product__price {
    font-size: 24px;
    color: var(--light-slate-gray);
}

.product__rating {
    display: flex;
    gap: 10px;
}

.product__reviews {
    font-size: 13px;
    color: var(--light-slate-gray);
    border-left: 2px solid var(--light-slate-gray);
    padding: 5px 10px;
}

.product__description {
    font-size: 14px;
    white-space: pre-line;
    line-height: 1.5;
}

.product__option-label {
    font-size: 13px;
    color: var(--light-slate-gray);
}

.product__size-options, .product__color-options {
    display: flex;
    gap: 15px;
}

.product__size-btn, .product__color-btn {
    all: unset;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.product__size-btn {
    border-radius: 5px;
    background-color: var(--light-beige);
    text-align: center;
}

.product__size-btn_active {
    background-color: var(--gold);
    color: var(--white);
}

.product__color-btn {
    border-radius: 50px;
}

.product__color-btn-purple {
    background-color: var(--purple);
}

.product__color-btn-black {
    background-color: var(--black);
}

.product__color-btn-gold {
    background-color: var(--gold);
}

.product__cart-actions {
    display: flex;
    gap: 15px;
    border-bottom: 2px solid var(--light-gray);
    padding: 20px 0 40px 0;
}

.product__cart-btn, .product__compare-btn {
    all: unset;
    cursor: pointer;
    width: 215px;
    height: 64px;
    border-radius: 15px;
    border: 2px solid var(--black);
    font-size: 20px;
    text-align: center;
}

.product__quantity-control {
    width: 123px;
    height: 64px;
    border-radius: 15px;
    border: 2px solid var(--light-slate-gray);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product__quantity-decrement, .product__quantity-increment {
    all: unset;
    cursor: pointer;
    font-size: 20px;
}

.product__info-share-items {
    display: flex;
    gap: 20px;
    padding: 30px 0 55px 0;
}

.product__info-share-items-labels, .product__info-share-items-values {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--light-slate-gray);
}

.product__info-share-value_inline {
    display: flex;
    gap: 5px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding: 60px 0;
    gap: 30px;
}

.product-details__tabs {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.product-details__tab {
    font-size: 24px;
    text-decoration: none;
    color: var(--light-slate-gray);
}

.product-details__tab-active {
    font-weight: 500;
    color: var(--black);
}

.product-details__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.product-details__description {
    font-size: 16px;
    white-space: pre-line;
    color: var(--light-slate-gray);
    line-height: 1.5;
}

.product-details__images {
    display: flex;
    gap: 30px;
}

.product-details__image-wrapper {
    width: 605px;
    height: 348px;
}

.related-products {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 65px 0 90px 0;
    border-bottom: 1px solid var(--light-gray);
}

.related-products__title {
    font-size: 36px;
    font-weight: 500;
}

.related-products__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--soft-light-gray);
    cursor: pointer;
}

.product__badge {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__badge--sale {
    background: var(--coral-red);
}

.product__badge--new {
    background: var(--blue-green);
}

.product-card__content {
    padding: 15px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-card__name {
    font-size: 24px;
    font-weight: 500;
}

.product-card__description {
    font-size: 16px;
    color: var(--slate-gray);
}

.product-card__prices {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-card__price {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}

.product-card__old-price {
    font-size: 15px;
    text-decoration: line-through;
    color: var(--light-slate-gray);
}

.related-products__button {
    all: unset;
    width: 245px;
    height: 48px;
    text-align: center;
    color: var(--gold);
    font-weight: 500;
    border: 1px solid var(--gold);
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.footer__container {
    display: flex;
    gap: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--light-gray);
}

.footer__brand-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__logo {
    font-size: 24px;
    font-weight: bold;
}

.footer__address {
    line-height: 1.5;
    color: var(--light-slate-gray);
    white-space: pre-line;
}

.footer__columns {
    display: flex;
    gap: 100px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__title {
    color: var(--light-slate-gray);
    font-weight: 500;
}

.footer__item {
    font-weight: 500;
}

.footer__link {
    text-decoration: none;
    color: var(--black);
}

.footer__row-items {
    display: flex;
    gap: 25px;
}

.footer__input-email {
    all: unset;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--black);
}

.footer__subscribe-btn {
    all: unset;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--black);
    cursor: pointer;
}

.footer__bottom {
    padding-top: 35px;
}




.shop__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url("assets/images/shop-hero-img.png");
    width: 100%;
    min-height: 316px;
    background-size: cover;
}

.shop__title {
    font-size: 48px;
    font-weight: 500;
}

.shop__breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.shop__controls {
    display: flex;
    justify-content: space-between;
    padding: 35px 100px;
    margin-bottom: 50px;
    align-items: center;
    background-color: var(--light-beige);
}

.shop__filter-view {
    display: flex;
    align-items: center;
    gap: 25px;
}

.shop__filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shop__view-options {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 25px;
    border-right: 2px solid var(--light-slate-gray);
}

.shop__filter-view-btn {
    all: unset;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-size: cover;
}

.shop__filter-btn {
    background-image: url("assets/images/filter-icon.svg");
}

.shop__grid-view-btn {
    background-image: url("assets/images/grid-view-icon.svg");
}

.shop__list-view-btn {
    background-image: url("assets/images/list-view-icon.svg");
}

.shop__results-info {
    font-weight: bold;
}

.shop__options {
    display: flex;
    align-items: center;
    gap: 30px;
}

.shop__sort-select, .shop__show-select {
    padding: 15px;
    font-size: 16px;
    color: var(--light-slate-gray);
    border: none;
}

.shop__products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product-card__image-wrapper {
    height: 301px;
    width: 285px;
    overflow: hidden;
}

.product-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.product-card:hover .product-card__overlay {
    opacity: 1;
    transition: 1s;
}

.product__overlay-cart-btn {
    all: unset;
    width: 200px;
    height: 50px;
    background: white;
    color: var(--gold);
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

.product-card__overlay-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-card__overlay-action-text {
    font-weight: 500;
}

.product-card__overlay-action-btn {
    all: unset;
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 85px 0;
}

.pagination__button {
    all: unset;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    border: none;
    background: var(--light-beige);
    border-radius: 10px;
    cursor: pointer;
}

.pagination__button-active {
    background: var(--gold);
    color: var(--white);
}

.pagination__button-next {
    width: 100px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    background: var(--light-beige);
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature__content {
    display: flex;
    flex-direction: column;
}

.feature__icon-wrapper {
    width: 60px;
    height: 60px;
}

.feature__content-title {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.feature__content-description {
    color: var(--slate-gray);
    font-weight: 500;
}

@media only screen and (max-width: 960px) {
    .header__nav-list {
        gap: 40px;
    }

    .header__icons-list {
        gap: 20px;
    }

    .shop__controls {
        padding: 35px 50px;
    }

    .features {
        padding: 100px 50px;
        gap: 20px;
    }

    .footer {
        padding: 50px 60px;
    }

    .footer__container {
        gap: 60px;
    }

    .footer__columns {
        display: flex;
        gap: 60px;
    }
}

@media only screen and (max-width: 860px) {
    .header {
        padding: 30px 30px;
    }

    .header__nav-list {
        gap: 20px;
    }

    .header__icons-list {
        gap: 10px;
    }

    .shop__controls {
        padding: 35px 30px;
    }

    .shop__filter-view {
        gap: 10px;
    }

    .shop__filter {
        gap: 5px;
    }

    .shop__view-options {
        gap: 10px;
        padding-right: 10px;
    }

    .shop__options {
        gap: 10px;
    }

    .shop__results-info {
        font-weight: 600;
    }

    .shop__products {
        gap: 60px;
    }

    .features {
        padding: 100px 30px;
        gap: 10px;
    }

    .feature__content-title {
        font-size: 20px;
        font-weight: 600;
    }

    .feature__content-description {
         font-weight: 400;
    }

    .footer {
        padding: 50px 30px;
    }

    .footer__container {
        gap: 20px;
    }

    .footer__columns {
        display: flex;
        gap: 20px;
    }

    .footer__brand-info {
        gap: 20px;
    }

    .footer__column {
        gap: 50px;
    }

    .footer__row-items {
        gap: 10px;
    }

    .footer__item {
        font-weight: 400;
    }
}

@media only screen and (max-width: 710px) {
    .header {
        padding: 30px 20px;
    }

    .header__logo {
        width: 130px;
        height: 35px;
    }

    .header__icon-wrapper {
        width: 20px;
        height: 20px;
    }

    .shop__controls {
        padding: 35px 20px;
        flex-wrap: wrap;
    }

    .shop__filter-view {
        gap: 5px;
    }

    .shop__filter-view-btn {
        width: 20px;
        height: 20px;
    }

    .shop__filter {
        gap: 3px;
    }

    .shop__view-options {
        gap: 5px;
        padding-right: 5px;
    }

    .shop__options {
        gap: 5px;
    }

    .shop__sort-select, .shop__show-select {
        padding: 5px;
    }

    .shop__products {
        gap: 25px;
    }

    .features {
        padding: 50px 20px;
        flex-wrap: wrap;
    }

    .footer__row-items {
        flex-wrap: wrap;
    }

    .pagination {
        gap: 10px;
    }

    .pagination__button {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 630px) {
    .shop__controls {
        flex-direction: column;
        gap:20px
    }

    .header__nav-list {
        gap: 10px;
    }

    .header__icons-list {
        gap: 5px;
    }

    .shop__products {
        gap: 10px;
    }
}

@media only screen and (max-width: 540px) {
    .header__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header__nav-list {
        gap: 50px;
    }

    .header__icons-list {
        gap: 30px;
    }

    .features {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        gap: 30px;
    }

    .footer__container {
        flex-direction: column;
        gap: 70px
    }

    .footer__columns {
        flex-direction: column;
        gap: 40px;
    }

    .footer__column {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer__brand-info {
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer__address {
        line-height: 1.5;
        color: var(--light-slate-gray);
        white-space: pre-line;
    }
}

@media only screen and (max-width: 410px) {
    .header__nav-list {
        gap: 20px;
    }

    .header__icons-list {
        gap: 10px;
    }
}